<header class="navbar navbar-fixed-top navbar-inverse">
   <div class="container">
     <%= link_to "sample app", root_path, id: "logo" %>
     <nav>
       <ul class="nav navbar-nav navbar-right">
         <li><%= link_to "Home",   root_path %></li>
         <li><%= link_to "Help",   help_path %></li>
         <!-- 8.2.4 ログインしているか否かでメニューの表示内容を切り替え -->
         <% if logged_in? %>
         <!-- 8.2.4 ログインしている場合 -->
           <li><%= link_to "Users", '#' %></li>
           <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               Account <b class="caret"></b>
             </a>
             <!-- 8.2.4 accountをプルダウンメニューにする -->
             <ul class="dropdown-menu">
               <li><%= link_to "Setting", '#' %></li>
               <li><%= link_to "Log out", logout_path, method: :delete %></li>
               <!-- 8.2.4 Profileメニューは他と分ける -->
               <li class="divider"></li>
               <li>
                 <%= link_to "Profile", current_user %>
               </li>
             </ul>
           </li>
         <% else %>
           <!-- 8.2.4 ログインしてない場合 -->
           <li><%= link_to "Log in", login_path %></li>
         <% end %>
       </ul>
     </nav>
   </div>
</header>
